In [1]:
import numpy as np 
import pandas as pd

In [2]:
df1 = pd.read_csv("data_with_mfcc_0_20000.csv")
df1.shape

(20000, 7)

In [3]:
df2 = pd.read_csv("data_with_mfcc_20000_40000.csv")
df2.shape

(40000, 7)

In [6]:
df2.tail()

,filename,label,total,n_samples,sampling_rate,duration,mfcc
39995,NaN,NaN,NaN,NaN,NaN,NaN,"-3.331448793,-0.502191782,0.839403152,0.167528..."
39996,NaN,NaN,NaN,NaN,NaN,NaN,"-3.315281391,0.849609017,0.678186715,1.3751839..."
39997,NaN,NaN,NaN,NaN,NaN,NaN,"-1.486543298,1.378696442,-0.171549216,-0.16928..."
39998,NaN,NaN,NaN,NaN,NaN,NaN,"-2.383821726,2.596385717,-0.461720526,0.235661..."
39999,NaN,NaN,NaN,NaN,NaN,NaN,"-3.948400736,-0.922340512,1.636415958,0.085703..."

In [4]:
df3 = pd.read_csv("data_with_mfcc_40000_60000.csv")
df3.shape

(40000, 7)

In [ ]:
df4 = pd.read_csv("data_with_mfcc_40_20000.csv")
df4.shape